* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black; 
    color: white; 

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333; 
    color: white;
    padding: 30px 0;
    text-align: center;
}

header h1 {
    line-height: 2; 
}



nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white; 
    line-height: 1.5; 
    display: block;
    padding: 0.5em 0; 
}

nav ul li ul {
    display: none;
}

nav ul li:hover ul {
    display: block;
    position: absolute;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: 20px;
    width: 80%; 
    line-height: 1.5; 
}

footer {
    background-color: #222; 
    color: white;
    text-align: center;
    padding: 10px 0;
    line-height: 1.5; 
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
    }
}
}